In [29]:
import re
import pandas as pd

df = pd.read_pickle('raw_band_data.pkl')

In [30]:
df.head()

,Artist,Country/Market,Period Active,Year of First Record,Genre,Total Certified Units,Claimed Sales
0,The Beatles,United Kingdom,1960–1970,1962,Rock / Pop,7002271100000000000♠ Total available certifie...,600 million 500 million
1,Elvis Presley,United States,1954–1977,1954,Rock and roll / Pop / Country,7002212400000000000♠ Total available certifie...,600 million 500 million
2,Michael Jackson,United States,1964–2009,1971,Pop / Rock / Dance / Soul / R&B,7002184600000000000♠ Total available certifie...,350 million 300 million
3,Madonna,United States,1979–present,1982,Pop / Dance / Electronica,7002170600000000000♠ Total available certifie...,300 million 275 million
4,Elton John,United Kingdom,1964–present,1969,Pop / Rock,7002169000000000000♠ Total available certifie...,300 million 250 million

In [64]:
'''If you need it, here is a sample of the TCU data from Beatles'''
#s = '7002271100000000000♠  Total available certified units: 271.1 million  US  : 212.250 million   JPN  : 4.950 million    UK  : 18.045 million    GER  : 8 million    FRA  : 3.890 million     CAN  : 14.455 million    AUS  : 3.060 million     ITA  : 355,000    BRA  : 550,000    SWE  485,000    SPA  : 1.250 million     SWI  : 350,000    BEL  : 265,000     ARG  : 1.606 million     DEN  : 270,000     AUT  : 500,000    POL  : 175,000    NZ  : 660,000   '
#print(s)

In [18]:
def formats(s):
'''takes in the raw TCU string
   uses the RegularExpressionsStuff to format it
   returns a list of tuples [(country: number), (country2: number2), ...]'''
    rgx = re.compile(r"([A-Z]+)  (?:: )?([0-9]+\.[0-9]+|[0-9]+,[0-9]{3})")
    return(rgx.findall(s))


def makedict(s):
'''takes in the post-regex list of tuples
   creates a dictionary with 3digit country code is the key, values are numbers
   returns the dictionary'''
    monies = {i:aux(j) for i,j in s}
    return monies


def aux(j):
'''works within makedict(s)
   converts millions to actual numbers, and all numbers to ints'''
    if "," in j:
        return int(j.replace(",",""))
    else:
        return int(float(j)*1000000)
    
    
def banddict(s):                                         #<----------this needs work
'''takes in the full raw df
   returns a dictionary of things we want'''
    bands = {i:pd.Series(makedict(formats(j))) for i,j in s}
    return bands    
    
'''workflow'''
#m = formats(s) #gives tuple format
#l = makedict(m) #takes care of the millions and makes a dictionary
#k = pd.Series(l) #turns it into a pandas series
#j = banddict(k) #creates the huge dictionary, with band as key countries and stuff as values

In [72]:
pd.Series(k)

ARG      1606000
AUS      3060000
AUT       500000
BEL       265000
BRA       550000
CAN     14455000
DEN       270000
FRA      3890000
ITA       355000
JPN      4950000
NZ        660000
POL       175000
SPA      1250000
SWE       485000
SWI       350000
UK      18045000
US     212250000
dtype: int64

In [22]:
#imports the band data to the total band dictionary
artists = df.iloc[0:3, 0] 
tcu = df.iloc[0:3, 5]
d = list(zip(artists, tcu))
#returns tuple list

banddict(d)

{'Elvis Presley': FIN    213945
 MEX    105000
 dtype: int64,
 'Michael Jackson': Series([], dtype: float64),
 'The Beatles': ARG      1606000
 AUS      3060000
 AUT       500000
 BEL       265000
 BRA       550000
 CAN     14455000
 DEN       270000
 FRA      3890000
 ITA       355000
 JPN      4950000
 NZ        660000
 POL       175000
 SPA      1250000
 SWE       485000
 SWI       350000
 UK      18045000
 US     212250000
 dtype: int64}

In [28]:
df["Total Certified Units"][2]

'7002184600000000000♠  Total available certified units: 184.6 million  US: 104.5 million   JPN: 4.650 million     UK: 27.545 million   GER: 11.275 million   FRA: 11.375 million     CAN: 4.670 million   AUS: 6.670 million        ITA: 1.170 million    BRA: 280,000    SWE: 1.230 million     SPA: 1.995 million        MEX: 3.670 million    SWI: 910,000    BEL: 365,000     ARG: 124,000     DEN: 1.224 million      AUT: 1.197 million    POL: 530,000    FIN: 384,127   NZ: 902,500  '

In [27]:
#something is wrong with the formats function...
formats(mj)

[]