In [42]:
import re
import pandas as pd

df = pd.read_pickle('raw_band_data.pkl')

In [43]:
df.head()

,Artist,Country/Market,Period Active,Year of First Record,Genre,Total Certified Units,Claimed Sales
0,The Beatles,United Kingdom,1960–1970,1962,Rock / Pop,7002271100000000000♠ Total available certifie...,600 million 500 million
1,Elvis Presley,United States,1954–1977,1954,Rock and roll / Pop / Country,7002212400000000000♠ Total available certifie...,600 million 500 million
2,Michael Jackson,United States,1964–2009,1971,Pop / Rock / Dance / Soul / R&B,7002184600000000000♠ Total available certifie...,350 million 300 million
3,Madonna,United States,1979–present,1982,Pop / Dance / Electronica,7002170600000000000♠ Total available certifie...,300 million 275 million
4,Elton John,United Kingdom,1964–present,1969,Pop / Rock,7002169000000000000♠ Total available certifie...,300 million 250 million

In [64]:
'''If you need it, here is a sample of the TCU data from Beatles'''
#s = '7002271100000000000♠  Total available certified units: 271.1 million  US  : 212.250 million   JPN  : 4.950 million    UK  : 18.045 million    GER  : 8 million    FRA  : 3.890 million     CAN  : 14.455 million    AUS  : 3.060 million     ITA  : 355,000    BRA  : 550,000    SWE  485,000    SPA  : 1.250 million     SWI  : 350,000    BEL  : 265,000     ARG  : 1.606 million     DEN  : 270,000     AUT  : 500,000    POL  : 175,000    NZ  : 660,000   '
#print(s)

In [44]:
def formats(s):
'''takes in the raw TCU string
   uses the RegularExpressionsStuff to format it
   returns a list of tuples [(country: number), (country2: number2), ...]'''
    rgxspaces = re.compile(r"([A-Z]+)  (?:: )?([0-9]+\.[0-9]+|[0-9]+,[0-9]{3})")
    rgxnospaces = re.compile(r"([A-Z]+)(?:: )?([0-9]+\.[0-9]+|[0-9]+,[0-9]{3})")      #<---- this one is new, untested
    return(rgx.findall(s))


def makedict(s):
'''takes in the post-regex list of tuples
   creates a dictionary with 3digit country code is the key, values are numbers
   returns the dictionary'''
    monies = {i:aux(j) for i,j in s}
    return monies


def aux(j):
'''works within makedict(s)
   converts millions to actual numbers, and all numbers to ints'''
    if "," in j:
        return int(j.replace(",",""))
    else:
        return int(float(j)*1000000)
    
    
def banddict(df):                                         #<----------this needs work
'''takes in the full raw df
   returns a dictionary of things we want'''
    bands = {i:pd.Series(makedict(formats(j))) for i,j in s}
    return bands    
    
'''workflow'''
#m = formats(s) #gives tuple format
#l = makedict(m) #takes care of the millions and makes a dictionary
#k = pd.Series(l) #turns it into a pandas series
#j = banddict(k) #creates the huge dictionary, with band as key countries and stuff as values. 
     #It would be great if we could just call "banddict(df)" and have it return formated everything

IndentationError: expected an indented block (<ipython-input-44-5cdaa6b89ec7>, line 4)

In [72]:
pd.Series(k)

ARG      1606000
AUS      3060000
AUT       500000
BEL       265000
BRA       550000
CAN     14455000
DEN       270000
FRA      3890000
ITA       355000
JPN      4950000
NZ        660000
POL       175000
SPA      1250000
SWE       485000
SWI       350000
UK      18045000
US     212250000
dtype: int64

In [22]:
#imports the band data to the total band dictionary
artists = df.iloc[0:3, 0] 
tcu = df.iloc[0:3, 5]
d = list(zip(artists, tcu))
#returns tuple list

banddict(d)

{'Elvis Presley': FIN    213945
 MEX    105000
 dtype: int64,
 'Michael Jackson': Series([], dtype: float64),
 'The Beatles': ARG      1606000
 AUS      3060000
 AUT       500000
 BEL       265000
 BRA       550000
 CAN     14455000
 DEN       270000
 FRA      3890000
 ITA       355000
 JPN      4950000
 NZ        660000
 POL       175000
 SPA      1250000
 SWE       485000
 SWI       350000
 UK      18045000
 US     212250000
 dtype: int64}

In [28]:
df["Total Certified Units"][2]

'7002184600000000000♠  Total available certified units: 184.6 million  US: 104.5 million   JPN: 4.650 million     UK: 27.545 million   GER: 11.275 million   FRA: 11.375 million     CAN: 4.670 million   AUS: 6.670 million        ITA: 1.170 million    BRA: 280,000    SWE: 1.230 million     SPA: 1.995 million        MEX: 3.670 million    SWI: 910,000    BEL: 365,000     ARG: 124,000     DEN: 1.224 million      AUT: 1.197 million    POL: 530,000    FIN: 384,127   NZ: 902,500  '

In [27]:
#something is wrong with the formats function...
formats(mj)

[]

In [36]:
tes = {df["Artist"][i]:(pd.Series(makedict(formats(df["Total Certified Units"][i])))) for i in df}

KeyError: 'Artist'

In [37]:
df["Total Certified Units"][0]

'7002271100000000000♠  Total available certified units: 271.1 million  US  : 212.250 million   JPN  : 4.950 million    UK  : 18.045 million    GER  : 8 million    FRA  : 3.890 million     CAN  : 14.455 million    AUS  : 3.060 million     ITA  : 355,000    BRA  : 550,000    SWE  485,000    SPA  : 1.250 million     SWI  : 350,000    BEL  : 265,000     ARG  : 1.606 million     DEN  : 270,000     AUT  : 500,000    POL  : 175,000    NZ  : 660,000   '

In [38]:
formats(df["Total Certified Units"][0])

[('US', '212.250'),
 ('JPN', '4.950'),
 ('UK', '18.045'),
 ('FRA', '3.890'),
 ('CAN', '14.455'),
 ('AUS', '3.060'),
 ('ITA', '355,000'),
 ('BRA', '550,000'),
 ('SWE', '485,000'),
 ('SPA', '1.250'),
 ('SWI', '350,000'),
 ('BEL', '265,000'),
 ('ARG', '1.606'),
 ('DEN', '270,000'),
 ('AUT', '500,000'),
 ('POL', '175,000'),
 ('NZ', '660,000')]

In [39]:
makedict(formats(df["Total Certified Units"][0]))

{'ARG': 1606000,
 'AUS': 3060000,
 'AUT': 500000,
 'BEL': 265000,
 'BRA': 550000,
 'CAN': 14455000,
 'DEN': 270000,
 'FRA': 3890000,
 'ITA': 355000,
 'JPN': 4950000,
 'NZ': 660000,
 'POL': 175000,
 'SPA': 1250000,
 'SWE': 485000,
 'SWI': 350000,
 'UK': 18045000,
 'US': 212250000}

In [32]:
pd.Series(makedict(formats(df["Total Certified Units"][0])))

ARG      1606000
AUS      3060000
AUT       500000
BEL       265000
BRA       550000
CAN     14455000
DEN       270000
FRA      3890000
ITA       355000
JPN      4950000
NZ        660000
POL       175000
SPA      1250000
SWE       485000
SWI       350000
UK      18045000
US     212250000
dtype: int64

In [45]:
tes = {}
for i in range(89):
    ccoded = pd.Series(makedict(formats(df["Total Certified Units"][i])))
    tes[df["Artist"][i]] = ccoded

In [46]:
print(tes)

{'The Beatles': ARG      1606000
AUS      3060000
AUT       500000
BEL       265000
BRA       550000
CAN     14455000
DEN       270000
FRA      3890000
ITA       355000
JPN      4950000
NZ        660000
POL       175000
SPA      1250000
SWE       485000
SWI       350000
UK      18045000
US     212250000
dtype: int64, 'Elvis Presley': FIN    213945
MEX    105000
dtype: int64, 'Michael Jackson': Series([], dtype: float64), 'Madonna': Series([], dtype: float64), 'Elton John': Series([], dtype: float64), 'Led Zeppelin': Series([], dtype: float64), 'Pink Floyd': Series([], dtype: float64), 'Rihanna': AUS      9290000
AUT       135000
BEL       660000
BRA       555000
CAN      2840000
DEN      1117000
FRA      1525000
GER      4675000
IRE       240000
ITA      1500000
JPN      1400000
MEX       410000
NZ        667500
POL       500000
SPA      1450000
SWE      2480000
SWI       840000
UK      30700000
US     168550000
dtype: int64, 'Mariah Carey': Series([], dtype: float64), 'Celine Dion': ARG    340000
FIN    356183
dtype: int64, 'Queen': Series([], dtype: float64), 'Whitney Houston': Series([], dtype: float64), 'AC/DC': Series([], dtype: float64), 'The Rolling Stones': Series([], dtype: float64), 'ABBA': Series([], dtype: float64), 'Taylor Swift': AUS    5495000
BRA     170000
CAN    4580000
DEN     140000
FRA     250000
GER     950000
ITA     285000
JPN    2850000
MEX     450000
NZ      375000
SWE     180000
UK     8900000
dtype: int64, 'Garth Brooks': Series([], dtype: float64), 'Eminem': AUT    325000
BEL    475000
FIN    124547
IRE    285000
POL    250000
SPA    290000
SWI    805000
dtype: int64, 'Eagles': Series([], dtype: float64), 'U2': Series([], dtype: float64), 'Billy Joel': Series([], dtype: float64), 'Phil Collins': Series([], dtype: float64), 'Aerosmith': Series([], dtype: float64), 'Frank Sinatra': Series([], dtype: float64), 'Barbra Streisand': Series([], dtype: float64), 'Bruno Mars': PHL    330000
dtype: int64, 'Kanye West': Series([], dtype: float64), 'Bruce Springsteen': Series([], dtype: float64), 'Bee Gees': Series([], dtype: float64), 'Lady Gaga': AUS     2890000
AUT      182500
BEL      270000
BRA      470000
CAN     2400000
DEN      340000
FRA     1655000
GER     2900000
IRE      165000
ITA      840000
JPN     5400000
MEX      390000
NZ       277500
POL      130000
SPA      410000
SWE      680000
SWI      445000
UK     10985000
US     68500000
dtype: int64, 'Metallica': ARG    874000
FIN    530676
dtype: int64, 'Justin Bieber': Series([], dtype: float64), 'Katy Perry': Series([], dtype: float64), 'Adele': Series([], dtype: float64), 'Jay-Z': Series([], dtype: float64), "B'z": Series([], dtype: float64), 'Bon Jovi': Series([], dtype: float64), 'Linkin Park': Series([], dtype: float64), 'Beyoncé': Series([], dtype: float64), 'Lil Wayne': Series([], dtype: float64), 'Britney Spears': Series([], dtype: float64), 'Rod Stewart': Series([], dtype: float64), 'Fleetwood Mac': Series([], dtype: float64), "Guns N' Roses": Series([], dtype: float64), 'George Strait': Series([], dtype: float64), 'Backstreet Boys': Series([], dtype: float64), 'Neil Diamond': Series([], dtype: float64), 'Prince': Series([], dtype: float64), 'Kenny Rogers': Series([], dtype: float64), 'Paul McCartney': Series([], dtype: float64), 'Janet Jackson': Series([], dtype: float64), 'Julio Iglesias': Series([], dtype: float64), 'Chicago': Series([], dtype: float64), 'Bob Dylan': Series([], dtype: float64), 'Dire Straits': Series([], dtype: float64), 'Def Leppard': Series([], dtype: float64), 'Cher': Series([], dtype: float64), 'Genesis': Series([], dtype: float64), 'James Taylor': Series([], dtype: float64), 'Olivia Newton-John': Series([], dtype: float64), 'Stevie Wonder': Series([], dtype: float64), 'Tina Turner': Series([], dtype: float64), 'Linda Ronstadt': Series([], dtype: float64), 'Donna Summer': Series([], dtype: float64), 'The Beach Boys': Series([], dtype: float64), 'David Bowie': Series([], dtype: float64), 'The Who': Series([], dtype: float64), 'Barry White': Series([], dtype: float64), 'Coldplay': ARG      528000
AUS     3725000
AUT      197500
BEL      765000
BRA      340000
CAN     3445000
DEN      759000
FRA     3030000
GER     4150000
IRE      210000
ITA     2660000
JPN      750000
MEX     1890000
NZ       345000
POL      220000
SPA     1030000
SWE      670000
SWI      510000
UK     24285000
US     29600000
dtype: int64, 'Shania Twain': Series([], dtype: float64), 'Pink': Series([], dtype: float64), 'Santana': Series([], dtype: float64), 'The Carpenters': Series([], dtype: float64), 'Lionel Richie': Series([], dtype: float64), 'Earth, Wind & Fire': Series([], dtype: float64), 'Johnny Cash': Series([], dtype: float64), 'Nicki Minaj': Series([], dtype: float64), 'R.E.M.': IRE    127500
dtype: int64, 'Flo Rida': Series([], dtype: float64), 'Ayumi Hamasaki': Series([], dtype: float64), 'Van Halen': Series([], dtype: float64), 'Red Hot Chili Peppers': Series([], dtype: float64), 'Foreigner': Series([], dtype: float64), 'The Doors': Series([], dtype: float64), 'George Michael': Series([], dtype: float64), 'Reba McEntire': Series([], dtype: float64), 'Meat Loaf': Series([], dtype: float64), 'Tom Petty': Series([], dtype: float64), 'Johnny Hallyday': Series([], dtype: float64)}

In [49]:
df["Total Certified Units"][1] #elvis

'7002212400000000000♠  Total available certified units: 212.4 million  US: 188.650 million   JPN: 300,000    UK: 13.145 million    GER: 1.2 million    FRA: 2.590 million     CAN: 2.925 million    AUS: 1.587 million    ITA: 105,000    BRA: 125,000    SWE 380,000    SPA: 300,000      MEX  : 105,000     SWI: 185,000    BEL: 115,000     ARG: 110,000    DEN: 120,000      AUT: 205,000    FIN  : 213,945    NZ: 117,500   '

In [50]:
df["Total Certified Units"][2] #michael Jackson

'7002184600000000000♠  Total available certified units: 184.6 million  US: 104.5 million   JPN: 4.650 million     UK: 27.545 million   GER: 11.275 million   FRA: 11.375 million     CAN: 4.670 million   AUS: 6.670 million        ITA: 1.170 million    BRA: 280,000    SWE: 1.230 million     SPA: 1.995 million        MEX: 3.670 million    SWI: 910,000    BEL: 365,000     ARG: 124,000     DEN: 1.224 million      AUT: 1.197 million    POL: 530,000    FIN: 384,127   NZ: 902,500  '

In [52]:
ok = df["Total Certified Units"][0]

In [53]:
rgxspaces = re.compile(r"([A-Z]+)  (?:: )?([0-9]+\.[0-9]+|[0-9]+,[0-9]{3})")
rgxnospaces = re.compile(r"([A-Z]+)(?:: )?([0-9]+\.[0-9]+|[0-9]+,[0-9]{3})") 
a = rgxspaces.findall(ok)
b = rgxnospaces.findall(ok)

In [55]:
print(a)

[('US', '212.250'), ('JPN', '4.950'), ('UK', '18.045'), ('FRA', '3.890'), ('CAN', '14.455'), ('AUS', '3.060'), ('ITA', '355,000'), ('BRA', '550,000'), ('SWE', '485,000'), ('SPA', '1.250'), ('SWI', '350,000'), ('BEL', '265,000'), ('ARG', '1.606'), ('DEN', '270,000'), ('AUT', '500,000'), ('POL', '175,000'), ('NZ', '660,000')]