In [99]:
import re
import pandas as pd

df = pd.read_pickle('raw_band_data.pkl')

In [61]:
df.head()

,Artist,Country/Market,Period Active,Year of First Record,Genre,Total Certified Units,Claimed Sales
0,The Beatles,United Kingdom,1960–1970,1962,Rock / Pop,7002271100000000000♠ Total available certifie...,600 million 500 million
1,Elvis Presley,United States,1954–1977,1954,Rock and roll / Pop / Country,7002212400000000000♠ Total available certifie...,600 million 500 million
2,Michael Jackson,United States,1964–2009,1971,Pop / Rock / Dance / Soul / R&B,7002184600000000000♠ Total available certifie...,350 million 300 million
3,Madonna,United States,1979–present,1982,Pop / Dance / Electronica,7002170600000000000♠ Total available certifie...,300 million 275 million
4,Elton John,United Kingdom,1964–present,1969,Pop / Rock,7002169000000000000♠ Total available certifie...,300 million 250 million

# workflow
m = formats(s) #gives tuple format

l = makedict(m) #takes care of the millions and makes a dictionary

k = pd.Series(l) #turns it into a pandas series

j = banddict(k) #creates the huge dictionary, with band as key countries and stuff as values. 

> We should be able to call banddict(df) and have it run everything

In [96]:
bands = {}

def formats(s):
#takes in the raw TCU string
 #  uses the RegularExpressionsStuff to format it
  # returns a list of tuples [(country: number), (country2: number2), ...]'''
    rgxnospaces = re.compile(r"([A-Z]+)\s*(?:: )?([0-9]+\.[0-9]+|[0-9]+,[0-9]{3})") 
    return(rgxnospaces.findall(s))


def makedict(s):
#'''takes in the post-regex list of tuples
 #  creates a dictionary with 3digit country code is the key, values are numbers
  # returns the dictionary'''
    monies = {i:aux(j) for i,j in s}
    return monies


def aux(j):
#'''works within makedict(s)
 #  converts millions to actual numbers, and all numbers to ints'''
    if "," in j:
        return int(j.replace(",",""))
    else:
        return int(float(j)*1000000)
    
    
def banddict(df):                                         #<----------this needs work
#'''takes in the full raw df
 #  returns a dictionary of things we want'''
    for i in range(89):
        ccoded = pd.Series(makedict(formats(df["Total Certified Units"][i])))
        bands[df["Artist"][i]] = ccoded
    return bands

In [97]:
banddict(df)

{'ABBA': ARG      238000
 AUS     6127000
 AUT      175000
 BEL      380000
 BRA      275000
 CAN     2785000
 DEN      600000
 FIN      656319
 FRA     2750000
 GER    10450000
 JPN     1500000
 MEX      260000
 NZ       297500
 POL      150000
 SPA     1004999
 SWE      800000
 SWI      600000
 UK     18970000
 US     12700000
 dtype: int64, 'AC/DC': ARG      594000
 AUS     7540000
 AUT      380000
 BEL      100000
 CAN     2490000
 DEN      130000
 FIN      321169
 FRA     4179999
 GER    10300000
 ITA      775000
 NZ       140000
 SPA     1355000
 SWE      350000
 SWI      894000
 UK      4400000
 US     79700000
 dtype: int64, 'Adele': AUS     3955000
 BEL      795000
 BRA     1310000
 CAN     6120000
 DEN      747500
 FIN      151639
 GER     4700000
 ITA     1570000
 JPN      100000
 MEX     1490000
 NZ       577500
 POL      300000
 SPA      800000
 SWE      240000
 SWI      510000
 UK     20550000
 dtype: int64, 'Aerosmith': ARG      338000
 AUS      225000
 AUT      125000
 BRA      600000
 CAN     3950000
 FIN      101722
 FRA      225000
 ITA      100000
 JPN     2700000
 MEX      230000
 POL      100000
 SPA      200000
 SWE      260000
 SWI      145000
 UK      3230000
 US     70250000
 dtype: int64, 'Ayumi Hamasaki': JPN    64300000
 dtype: int64, "B'z": JPN    85750000
 dtype: int64, 'Backstreet Boys': ARG      740000
 AUS     1400000
 AUT      325000
 BEL      425000
 BRA     1625000
 CAN     3430000
 FIN      171390
 FRA      325000
 JPN     5400000
 MEX     1475000
 NZ       132500
 POL      300000
 SPA     1850000
 SWE      655000
 SWI      415000
 UK      4875000
 US     41500000
 dtype: int64, 'Barbra Streisand': AUS     2047000
 CAN     2650000
 FIN      186501
 FRA     3150000
 GER      750000
 NZ       137500
 SPA      150000
 SWE      120000
 UK      5765000
 US     82450000
 dtype: int64, 'Barry White': BEL      150000
 CAN      150000
 FRA     1100000
 SPA      200000
 UK      3665000
 US     16500000
 dtype: int64, 'Bee Gees': ARG      188000
 AUS     1187000
 AUT      125000
 BRA      350000
 CAN     3215000
 FRA     3400000
 GER     6675000
 JPN      300000
 NZ       380000
 POL      100000
 SPA      450000
 SWI      415000
 UK      9065000
 US     42500000
 dtype: int64, 'Beyoncé': AUS     2975000
 BEL      115000
 BRA      390000
 CAN     1395000
 DEN      312500
 FRA      560000
 GER     1550000
 ITA      260000
 JPN     1700000
 MEX      110000
 NZ       210000
 POL      100000
 SPA     1030000
 SWE      120000
 SWI      165000
 UK     13885000
 US     56150000
 dtype: int64, 'Billy Joel': AUS     1267000
 AUT      125000
 CAN     3275000
 FRA      925000
 GER     1250000
 NZ       162500
 UK      5655000
 US     87950000
 dtype: int64, 'Bob Dylan': AUS      480000
 CAN     1500000
 FRA      800000
 GER      625000
 NZ       105000
 SWI      175000
 UK      6025000
 US     35600000
 dtype: int64, 'Bon Jovi': ARG      358000
 AUS     3030000
 AUT      725000
 BEL      165000
 BRA      435000
 CAN     4735000
 FIN      422500
 FRA      825000
 GER     5650000
 ITA      135000
 JPN     4400000
 MEX      250000
 NZ       210000
 POL      110000
 SPA     1620000
 SWE      365000
 SWI     1275000
 UK      9490000
 US     49900000
 dtype: int64, 'Britney Spears': ARG      248000
 AUS     3130000
 AUT      365000
 BEL      935000
 BRA      380000
 CAN     3680000
 DEN      187500
 FIN      143627
 FRA     3732000
 GER     5050000
 ITA      175000
 JPN     2100000
 MEX     1175000
 NZ       240000
 POL      210000
 SPA      990000
 SWE     1010000
 SWI      485000
 UK     10350000
 US     44200000
 dtype: int64, 'Bruce Springsteen': AUS     3362000
 AUT      290000
 BRA      100000
 CAN     3200000
 DEN      155000
 FIN      449800
 FRA     1887000
 GER     4325000
 IRE      189500
 ITA      575000
 JPN      400000
 NZ       375000
 SPA     1730000
 SWE      810000
 SWI      400000
 UK      7145000
 US     76150000
 dtype: int64, 'Bruno Mars': AUS     5050000
 AUT      180000
 BEL      345000
 CAN     5240000
 DEN      365000
 FRA     1850000
 GER     3400000
 ITA      710000
 JPN     1200000
 MEX      780000
 NZ       532500
 PHL      330000
 SPA      470000
 SWE      440000
 SWI      405000
 UK     13500000
 US     86500000
 dtype: int64, 'Celine Dion': ARG      340000
 AUS     3302000
 AUT      440000
 BEL     1885000
 BRA      505000
 CAN    12245000
 DEN      370000
 FIN      356183
 FRA    15785000
 JPN     7150000
 NZ       192500
 POL      680000
 SWE     1105000
 SWI     1685000
 UK     13555000
 US     56550000
 dtype: int64, 'Cher': ARG      106000
 AUS     1530000
 AUT      250000
 BEL      275000
 BRA      125000
 CAN     1340000
 DEN      300000
 FRA     1525000
 GER     4175000
 ITA      300000
 JPN      100000
 MEX      200000
 NLD      100000
 NZ       150000
 POL      100000
 SPA      600000
 SWE      850000
 SWI      295000
 UK      6450000
 US     21900000
 dtype: int64, 'Chicago': CAN     1865000
 FRA      100000
 GER      250000
 JPN      400000
 SPA      100000
 UK      1490000
 US     44150000
 dtype: int64, 'Coldplay': ARG      528000
 AUS     3725000
 AUT      197500
 BEL      765000
 BRA      340000
 CAN     3445000
 DEN      759000
 FRA     3030000
 GER     4150000
 IRE      210000
 ITA     2660000
 JPN      750000
 MEX     1890000
 NZ       345000
 POL      220000
 SPA     1030000
 SWE      670000
 SWI      510000
 UK     24285000
 US     29600000
 dtype: int64, 'David Bowie': AUS      565000
 CAN     2215000
 FRA     2380000
 GER      525000
 ITA      345000
 JPN      200000
 NZ       142500
 SPA      170000
 UK     11945000
 US     11700000
 dtype: int64, 'Def Leppard': AUS      385000
 CAN     2995000
 FRA      200000
 JPN      300000
 MEX      200000
 SWE      150000
 SWI      125000
 UK      1960000
 US     35650000
 dtype: int64, 'Dire Straits': AUS     2190000
 AUT      300000
 BEL      100000
 BRA      175000
 CAN     2575000
 FIN      471530
 FRA     5300000
 GER     3750000
 ITA      385000
 NZ       155000
 SPA     1380000
 SWE      360000
 UK     11100000
 US     15500000
 dtype: int64, 'Donna Summer': BRA      100000
 CAN     1550000
 FRA      900000
 SPA      100000
 UK      3735000
 US     24500000
 dtype: int64, 'Eagles': AUS      3395000
 CAN      4200000
 DEN       185000
 FIN       124749
 FRA      2040000
 GER       925000
 JPN       600000
 NZ        352500
 SPA       500000
 SWE       140000
 SWI       290000
 UK       7835000
 US     108900000
 dtype: int64, 'Earth, Wind & Fire': CAN      360000
 FRA      500000
 JPN      500000
 UK      2525000
 US     31800000
 dtype: int64, 'Elton John': ARG       128000
 AUS      2837000
 AUT       765000
 BEL       390000
 BRA       835000
 CAN      5975000
 DEN       150000
 FIN       163481
 FRA      4825000
 GER      7900000
 JPN      1100000
 MEX       100000
 NZ        255000
 POL       150000
 SPA      1200000
 SWE       740000
 SWI      1313000
 UK      22395000
 US     117850000
 dtype: int64, 'Elvis Presley': ARG       110000
 AUS      1587000
 AUT       205000
 BEL       115000
 BRA       125000
 CAN      2925000
 DEN       120000
 FIN       213945
 FRA      2590000
 GER      1200000
 ITA       105000
 JPN       300000
 MEX       105000
 NZ        117500
 SPA       300000
 SWE       380000
 SWI       185000
 UK      13145000
 US     188650000
 dtype: int64, 'Eminem': AUS     5737000
 AUT      325000
 BEL      475000
 BRA      200000
 CAN     3850000
 DEN      556000
 FIN      124547
 FRA     3220000
 GER     3450000
 IRE      285000
 ITA      615000
 JPN     2900000
 MEX      365000
 NZ       562500
 POL      250000
 SPA      290000
 SWE      850000
 SWI      805000
 UK     22425000
 US     86100000
 dtype: int64, 'Fleetwood Mac': AUS     2767000
 BEL      100000
 CAN     2950000
 FRA      800000
 GER     3500000
 NZ       572500
 SPA      300000
 SWI      100000
 UK     13785000
 US     51250000
 dtype: int64, 'Flo Rida': AUS    3535000
 AUT     180000
 CAN    2810000
 DEN     205000
 FRA     225000
 ITA     330000
 JPN     650000
 MEX     330000
 NZ      247500
 SPA     140000
 SWE     780000
 SWI     420000
 UK     7960000
 dtype: int64, 'Foreigner': AUS      105000
 CAN      700000
 FRA      400000
 GER     1500000
 SWI      125000
 UK      1300000
 US     45100000
 dtype: int64, 'Frank Sinatra': ARG      188000
 AUS      245000
 BRA      350000
 CAN      650000
 FRA      600000
 SPA      500000
 SWE      130000
 UK      5445000
 US     28200000
 dtype: int64, 'Garth Brooks': AUS       280000
 CAN      5730000
 IRE       120000
 UK        520000
 US     149400000
 dtype: int64, 'Genesis': CAN      805000
 FRA     3460000
 GER     5875000
 JPN      100000
 SPA      250000
 SWE      100000
 SWI      400000
 UK      7325000
 US     21650000
 dtype: int64, 'George Michael': ARG      118000
 AUS     2205000
 AUT      140000
 BEL      215000
 BRA      350000
 CAN     1870000
 DEN      380000
 FRA     3217000
 GER     2400000
 JPN      300000
 NZ       140000
 POL      340000
 SPA      850000
 SWE      310000
 SWI      335000
 UK     12850000
 US     20800000
 dtype: int64, 'George Strait': CAN      705000
 US     72150000
 dtype: int64, "Guns N' Roses": ARG     1248000
 AUS     2410000
 AUT      365000
 BEL      165000
 BRA     1900000
 CAN     3520000
 GER     4099999
 IRE      105000
 ITA      685000
 JPN     1700000
 MEX      760000
 NZ       270000
 POL      160000
 SPA      450000
 SWE      485000
 SWI      365000
 UK      6150000
 US     48500000
 dtype: int64, 'James Taylor': AUS      100000
 CAN      100000
 UK       655000
 US     34650000
 dtype: int64, 'Janet Jackson': AUS     1155000
 BEL      125000
 CAN     1460000
 FRA     1475000
 GER     1400000
 JPN     1600000
 SPA      150000
 SWE      105000
 SWI      170000
 UK      4760000
 US     39750000
 dtype: int64, 'Jay-Z': AUS     1260000
 CAN     1600000
 FRA      400000
 GER     1550000
 ITA      180000
 JPN     1050000
 SWE      130000
 UK      9320000
 US     82700000
 dtype: int64, 'Johnny Cash': AUS      522500
 CAN      490000
 GER      400000
 UK      3710000
 US     25700000
 dtype: int64, 'Johnny Hallyday': BEL      445000
 FRA    24137000
 SWI      268000
 dtype: int64, 'Julio Iglesias': ARG     3220000
 AUS      540000
 BEL      125000
 BRA    12475000
 CAN     1500000
 FIN      131636
 FRA     6100000
 GER      250000
 ITA      400000
 JPN      800000
 MEX     2975000
 SPA     8700000
 SWE      290000
 UK      1620000
 dtype: int64, 'Justin Bieber': AUS     4725000
 AUT      140000
 BEL      450000
 BRA      810000
 CAN     5620000
 DEN     2230000
 FRA     1200000
 GER     3300000
 ITA     1795000
 JPN      750000
 MEX     2910000
 NZ       615000
 POL      370000
 SPA      880000
 SWE     2020000
 UK     17285000
 US     87500000
 dtype: int64, 'Kanye West': AUS     2135000
 CAN     1180000
 DEN      424000
 GER      300000
 ITA      145000
 JPN      100000
 SWE      160000
 UK     11280000
 US     87750000
 dtype: int64, 'Katy Perry': AUS     5125000
 AUT      247500
 BEL      135000
 BRA      625000
 CAN     6160000
 DEN      235000
 FRA      825000
 GER     2750000
 ITA      780000
 JPN      300000
 MEX      900000
 NZ       360000
 SPA      180000
 SWE      520000
 SWI      160000
 UK     12750000
 US     97500000
 dtype: int64, 'Kenny Rogers': AUS      100000
 CAN     4600000
 JPN      100000
 SPA      100000
 UK      2520000
 US     54050000
 dtype: int64, 'Lady Gaga': AUS     2890000
 AUT      182500
 BEL      270000
 BRA      470000
 CAN     2400000
 DEN      340000
 FRA     1655000
 GER     2900000
 IRE      165000
 ITA      840000
 JPN     5400000
 MEX      390000
 NZ       277500
 POL      130000
 SPA      410000
 SWE      680000
 SWI      445000
 UK     10985000
 US     68500000
 dtype: int64, 'Led Zeppelin': ARG       360000
 AUS      2800000
 BRA       820000
 CAN      4710000
 FRA      2310000
 GER      3775000
 ITA       345000
 JPN       400000
 POL       120000
 SPA       450000
 SWI       211000
 UK       9330000
 US     114100000
 dtype: int64, 'Lil Wayne': AUS      525000
 CAN      280000
 UK      1460000
 US     77700000
 dtype: int64, 'Linda Ronstadt': CAN      500000
 FRA      100000
 UK       435000
 US     31500000
 dtype: int64, 'Linkin Park': AUS     1485000
 AUT      252500
 BEL      140000
 BRA      595000
 CAN     1330000
 DEN      175000
 FIN      120469
 FRA     1024999
 GER     5850000
 ITA      515000
 JPN     1550000
 MEX      225000
 NZ       252500
 POL      220000
 SPA      175000
 SWE      165000
 SWI      435000
 UK      6205000
 US     61600000
 dtype: int64, 'Lionel Richie': AUS      260000
 BRA      100000
 CAN     2380000
 FRA     1400000
 GER     1050000
 SPA      150000
 SWI      145000
 UK      6355000
 US     28650000
 dtype: int64, 'Madonna': ARG     1098000
 AUS     4717000
 AUT      602500
 BEL      690000
 BRA     3440000
 CAN     6030000
 DEN      407000
 FIN      652686
 FRA    12795000
 GER    12400000
 ITA      465000
 JPN     6450000
 MEX      510000
 NZ       417500
 POL      530000
 SPA     2815000
 SWE     1070000
 SWI     1080000
 UK     28845000
 US     85675000
 dtype: int64, 'Mariah Carey': AUS     3515000
 AUT      200000
 BEL      175000
 BRA      835000
 CAN     4099999
 DEN      280000
 FRA     4690000
 GER     3750000
 ITA      200000
 JPN    14500000
 NZ       240000
 POL      100000
 SWE      425000
 SWI      515000
 UK     10020000
 US     92600000
 dtype: int64, 'Meat Loaf': AUS     2522000
 AUT      100000
 CAN     3260000
 GER     2350000
 SWE      100000
 SWI      115000
 UK      9665000
 US     23600000
 dtype: int64, 'Metallica': ARG      874000
 AUS     2637000
 AUT      340000
 BEL      335000
 BRA      380000
 CAN     3805000
 DEN      180000
 FIN      530676
 FRA      940000
 GER     3525000
 ITA      180000
 JPN      900000
 MEX      430000
 NZ       315000
 POL      735000
 SPA      420000
 SWE      675000
 SWI      560000
 UK      3335000
 US     73300000
 dtype: int64, 'Michael Jackson': ARG       124000
 AUS      6670000
 AUT      1197000
 BEL       365000
 BRA       280000
 CAN      4670000
 DEN      1224000
 FIN       384127
 FRA     11375000
 GER     11275000
 ITA      1170000
 JPN      4650000
 MEX      3670000
 NZ        902500
 POL       530000
 SPA      1995000
 SWE      1230000
 SWI       910000
 UK      27545000
 US     104500000
 dtype: int64, 'Neil Diamond': AUS     1945000
 CAN     1725000
 FRA      400000
 NZ       127500
 SPA      100000
 UK      7130000
 US     55900000
 dtype: int64, 'Nicki Minaj': AUS    2835000
 BRA     250000
 CAN     480000
 DEN     190000
 FRA     225000
 GER     800000
 ITA     375000
 JPN     350000
 MEX     150000
 NZ      187500
 SPA     100000
 SWE     400000
 SWI     180000
 UK     7100000
 dtype: int64, 'Olivia Newton-John': AUS     380000
 CAN    3025000
 GER     250000
 JPN     100000
 UK     3950000
 dtype: int64, 'Paul McCartney': AUS      465000
 CAN     1955000
 DEN      210000
 FRA     1305000
 GER     1525000
 JPN      500000
 SPA      640000
 SWE      210000
 UK     12365000
 US     41450000
 dtype: int64, 'Phil Collins': ARG     1044000
 AUS     1522000
 AUT      440000
 BEL      305000
 BRA     1370000
 CAN     3375000
 FIN      182581
 FRA     6410000
 GER    13800000
 JPN      800000
 NZ       122500
 SPA     2150000
 SWE      245000
 SWI      973000
 UK     15250000
 US     39850000
 dtype: int64, 'Pink': AUS     8225000
 AUT      417500
 BEL      235000
 CAN     4090000
 DEN      281500
 FRA     1165000
 GER     5725000
 ITA      375000
 JPN      400000
 MEX      360000
 NZ       450000
 SWE      530000
 SWI      545000
 UK     12950000
 US     29225000
 dtype: int64, 'Pink Floyd': ARG      582000
 AUS     2932000
 AUT      460000
 BEL      115000
 BRA      540000
 CAN     6790000
 FRA     6360000
 GER     7500000
 ITA     1685000
 JPN      100000
 NZ       787500
 POL      590000
 SPA      625000
 SWE      220000
 SWI      390000
 UK     11320000
 dtype: int64, 'Prince': AUS     1120000
 AUT      125000
 FRA     2110000
 GER     2400000
 JPN      300000
 NZ       177500
 SPA      700000
 SWE      100000
 SWI      250000
 UK      7045000
 US     48950000
 dtype: int64, 'Queen': ARG     1080000
 AUS     2167000
 AUT      900000
 BEL      100000
 BRA      970000
 CAN     1870000
 DEN      160000
 FIN      366152
 FRA     4495000
 GER    11525000
 ITA      505000
 JPN     2850000
 NZ       275000
 POL      810000
 SPA     1720000
 SWE      190000
 SWI     1256000
 UK     28815000
 dtype: int64, 'R.E.M.': ARG      158000
 AUS     1030000
 AUT      350000
 BEL      108000
 BRA      100000
 CAN     2650000
 DEN      155000
 FRA     1450000
 GER     4275000
 IRE      127500
 ITA      175000
 NZ       105000
 SPA     1100000
 SWE      500000
 SWI      450000
 UK      8765000
 US     21150000
 dtype: int64, 'Reba McEntire': CAN      850000
 US     41900000
 dtype: int64, 'Red Hot Chili Peppers': ARG      406000
 AUS     2590000
 AUT      247500
 BEL      170000
 BRA      515000
 CAN     2020000
 DEN      227000
 FIN      171951
 FRA     1420000
 GER     2650000
 ITA      455000
 JPN     2600000
 MEX      150000
 NZ       285000
 POL      245000
 SPA      640000
 SWE      390000
 SWI      405000
 UK      9995000
 US     32250000
 dtype: int64, 'Rihanna': AUS      9290000
 AUT       135000
 BEL       660000
 BRA       555000
 CAN      2840000
 DEN      1117000
 FRA      1525000
 GER      4675000
 IRE       240000
 ITA      1500000
 JPN      1400000
 MEX       410000
 NZ        667500
 POL       500000
 SPA      1450000
 SWE      2480000
 SWI       840000
 UK      30700000
 US     168550000
 dtype: int64, 'Rod Stewart': ARG      524000
 AUS     2610000
 AUT      100000
 BRA      980000
 CAN     4054999
 FRA     1800000
 GER     3800000
 IRE      195000
 JPN      450000
 NZ       280000
 POL      220000
 SPA      290000
 SWE      440000
 SWI      100000
 UK     18630000
 US     43650000
 dtype: int64, 'Santana': ARG      158000
 AUS      855000
 AUT      145000
 BEL      190000
 BRA      375000
 CAN     1660000
 FRA     3510000
 GER     2400000
 JPN      400000
 MEX      405000
 NZ       135000
 POL      205000
 SWE      125000
 SWI      375000
 UK      2980000
 US     47475000
 dtype: int64, 'Shania Twain': ARG      120000
 AUS     2360000
 AUT      115000
 BEL      250000
 BRA      475000
 CAN     6880000
 FRA      975000
 GER     1750000
 JPN      300000
 MEX      100000
 NZ       402500
 SPA      100000
 SWE      330000
 SWI      310000
 UK      6795000
 US     54500000
 dtype: int64, 'Stevie Wonder': CAN     1550000
 FRA     1400000
 GER      500000
 JPN     1050000
 SPA      250000
 UK      8285000
 US     21650000
 dtype: int64, 'Taylor Swift': AUS    5495000
 BRA     170000
 CAN    4580000
 DEN     140000
 FRA     250000
 GER     950000
 ITA     285000
 JPN    2850000
 MEX     450000
 NZ      375000
 SWE     180000
 UK     8900000
 dtype: int64, 'The Beach Boys': AUS      492500
 CAN      100000
 FRA      400000
 GER      250000
 SPA      250000
 UK      3410000
 US     25600000
 dtype: int64, 'The Beatles': ARG      1606000
 AUS      3060000
 AUT       500000
 BEL       265000
 BRA       550000
 CAN     14455000
 DEN       270000
 FRA      3890000
 ITA       355000
 JPN      4950000
 NZ        660000
 POL       175000
 SPA      1250000
 SWE       485000
 SWI       350000
 UK      18045000
 US     212250000
 dtype: int64, 'The Carpenters': BRA      100000
 CAN      275000
 GER      250000
 JPN     2900000
 UK      7950000
 US     34600000
 dtype: int64, 'The Doors': ARG      150000
 AUS     1022000
 AUT      100000
 BRA      100000
 CAN     2780000
 FRA     1900000
 GER     1750000
 ITA      130000
 SPA      300000
 SWI      125000
 UK      2040000
 US     36600000
 dtype: int64, 'The Rolling Stones': ARG      718000
 AUS      417500
 AUT      300000
 BEL      120000
 BRA      100000
 CAN     3025000
 FRA     3370000
 GER     3200000
 ITA      205000
 JPN      950000
 NZ       190000
 POL      140000
 SPA      690000
 SWE      310000
 SWI      238000
 UK      8510000

In [101]:
bands["ABBA"]

ARG      238000
AUS     6127000
AUT      175000
BEL      380000
BRA      275000
CAN     2785000
DEN      600000
FIN      656319
FRA     2750000
GER    10450000
JPN     1500000
MEX      260000
NZ       297500
POL      150000
SPA     1004999
SWE      800000
SWI      600000
UK     18970000
US     12700000
dtype: int64